
/*PAGINA "NOSOTROS"*/


.contenedor{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8, 200px);
    gap: 10px;
}

.item{ 
    position: relative;/*Permite que los elementos hijos como el texto estén posicionados respecto al contenedor.*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
}

.item::before{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;/*Tamaño proporcional del encuadre*/
    height: 90%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease;
}

.item:hover::before{
    background: rgba(255, 255, 255, 0.8);
}

.item p{
    position: relative; /*para que este encima del fondo*/
    color: black;
    text-align: center;
    font-family: "Rubik";
    font-weight: 900;
    font-size: 20px;
    opacity: 0; /*Oculta el texto*/
    transition: opacity 0.3s ease;
}

.item:hover p{
    opacity: 1;/*Muestras el texto al pasar el mouse*/
}

/*IMAGENES DE LOS ITEMS*/
.item1{
    background-image: url(../imagenes/BancoSanJuan-logo.jpg);
}
.item2{
    background-image: url(../imagenes/teatro_colon.jpg);
}

.item3{
    background-image: url(../imagenes/Planetario.jfif);
}

.item4{
    background-image: url(../imagenes/TorreYPF.jpg);
    background-position: top;
}

.item5{
    background-image: url(../imagenes/aeropuertos2000.jfif);
}

.item6{
    background-image: url(../imagenes/jardin-japones-palermo.jpg);
}

.item7{
    background-image: url(../imagenes/CementerioRecoleta.jpg);
}

.item8{
    background-image: url(../imagenes/globant.jpg);
}

.contenedorTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.texto{
    font-family: "Rubik";
    font-size: 20px;
    text-align: center;
    color: black;
    width: 100%;
}

/*--------------------------*/
/*INICIO DE MEDIA QUERIES*/

@media screen and (min-width: 400px) {

    .contenedor{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(4, 200px);
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contenedor{
        grid-template-columns: repeat(3,33%);
        grid-template-rows: repeat(4, 250px);
    }
}

@media only screen and (min-width: 1024px){
    .contenedor{
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(2, 250px);
        padding: 0 20px 0 20px;
    }

    .titulo h1{
        font-size: 35px;
    }
    .titulo p{
        font-size: 20px;
    }
}