
/*Quita el espacio de los bordes. (margin y padding)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo de fuente*/
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/static/Rubik-Light.ttf);
}

:is(header, main, .titulo, .preFooter, footer){
    font-family: "Rubik";
}

/*Efecto de recarga de pagina*/
html{
    scroll-behavior: smooth;
}

/*NAVBAR*/
.navbar{
    background-color: black;
}

.nav-item:hover{
    background-color: rgba(128, 128, 128, 0.25);
    border-radius: 10px;
}
/*FIn NAVBAR*/

/*Quita el diseño default que tienen las listas*/

a{
    text-decoration: none;
    color: white;
}

/*contenedor main*/
 .titulo{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}

.titulo h1{
    font-size: 35px;
    font-weight: 900;
}

.titulo p{
    padding-top: 15px;
    font-size: 17px;
}

/*BOTONES FIJOS EN LA PANTALLA*/
.fijo{
    display: flex;
    flex-direction: column;
    width: 53px;
    height: 110px;
    position: fixed;
    justify-content: space-evenly;
    bottom: 10px;
    right: 5px;
    text-align: center;
    line-height: 57px;
}

:is(#asistente, #arriba){
    width: 50px;
    height: 50px;
    border-radius: 85%;
    border: 1px solid white;
    background-color: black;
    color: white;
}

/*Efecto al pasar el mouse por encima */
:is(#asistente:hover, #arriba:hover){
    color: gray;
    transition: color 0.5s ease, transform 0.3s ease;
    transform: scale(1.1);
}

/*permite al usuario hablar con asistente virtual*/
#asistente i{
    font-size: 23px;
}

/*Envia al usuario al incio de la pagina*/
#arriba i{
    font-size: 30px;
}

/*-----------------------------------------------------------*/

/*COMIENZO DE PREFOOTER*/
.preFooter{
    font-family: "Rubik";
    background-color: black;
    color: white;
}

.redes i{
    margin-right: 15px;
    font-size: 2rem;
}

/*Color de redes y enlaces del prefooter*/
:is(.preFooter a:hover, .redes i:hover){
    color: gray;
    transition: color, 0.5s ease;
}

/*FIN PREFOOTER*/

/*COMIENZO DEL FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: black;
    color: white;
}
/*FIN FOOTER*/