
/*Quita el espacio de los bordes. (margin y padding)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo de fuente*/
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/static/Rubik-Light.ttf);
}

/*Efecto de recarga de pagina*/
html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    align-items: center;
    height: 180px;
    width: 100%;
    padding: 8px;
    font-family: "Rubik";
}

.logo{
    float: left;
    color: white;
    font-weight: 900;
    font-size: 20px;
    padding-right: 25px;
}

.logo img{
    width: 25px;
    height: 25px;
}

/*la direcciones a las demas paginas se ubican a la derecha dentro de header*/
.barra{
    float: right;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
}

/*Quita el diseño default que tienen las listas*/
ul li{
    list-style: none;
    display: block;
    padding-bottom: 7px;
}

.barra a{
    transition: color 0.5s ease;
}

.barra a:hover{
    color: grey;
}

/*contenedor main*/
main{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    font-family: "Rubik";
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik";
    color: black;
    padding: 20px;
}

.titulo h1{
    font-size: 25px;
}

.titulo p{
    padding-top: 15px;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: white;
}

/*BOTONES FIJOS EN LA PANTALLA*/
.fijo{
    display: flex;
    flex-direction: column;
    width: 53px;
    height: 110px;
    position: fixed;
    justify-content: space-evenly;
    bottom: 10px;
    right: 5px;
    text-align: center;
    line-height: 57px;
}

/*permite al usuario hablar con asistente virtual*/
#asistente{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 85%;
}

/*Efecto al pasar el mouse por encima */
#asistente:hover{
    color: gray;
    transition: color 0.5s ease, transform 0.3s ease;
    transform: scale(1.1);
}

/*Envia al usuario al incio de la pagina*/
#arriba{
    width: 50px;
    height: 50px;
    border-radius: 85%;
    background-color: black;
    color: white;
    font-size: 40px;
}

/*Efecto al pasar el mouse por encima */
#arriba:hover{
    color: gray;
    transition: color 0.5s ease, transform 0.3s ease;
    transform: scale(1.1);
}
/*-----------------------------------------------------------*/

/*COMIENZO DE PREFOOTER*/
.preFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Rubik";
    text-align: center;
    padding: 20px 0;
}

.logoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Personaliza el contenido dentro del prefooter*/
.preFooterContenido{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1200px;
    text-align: left;
}

.preFooterContenido div{
    margin: 10px 20px;
}

.preFooterContenido h4 {
    margin: 6px 0;
}

.preFooterContenido a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.preFooterContenido a:hover {
    color: gray;
}

.redes i{
    margin-right: 15px;
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease;
}

.redes i:hover{
    color: grey;
    transition: color, 0.5s ease;
}

/*FIN PREFOOTER*/

/*Linea para divir del footer*/
hr{
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

/*COMIENZO DEL FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: black;
    color: white;
    font-family: "Rubik";

}

.footerContenido{
    padding: 10px;
    font-size: 15px;
    text-align: left;
    width: 100%;
}


footer ul{
    padding: 0;
    margin: 0;
}

footer ul li{
    padding-right: 10px;
}

.footerContenido a:hover{
    color: grey;
    transition: color, 0.5s ease;
}


/*FIN FOOTER*/

/*INICIO MEDIA QUERIES*/
@media screen and (min-width: 600px) {
    header{
        height: 115px;
    }

    ul li{
        display: inline-block;
        list-style: none;
    }

    .footerContenido{
        padding: 10px;
        font-size: 15px;
        width: 100%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        height: 80px;
    }

    header .logo{
        font-size: 30px;
    }
    .preFooterContenido{
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 17px;
    }

    .redes i{
        font-size: 2rem;
    }

    .preFooterContenido ul{
        display: flex;
        flex-direction: column;
    }

    .footerContenido{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1024px){
    header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        height: 80px;
    }

    header .logo{
        font-size: 30px;
    }
    .preFooterContenido{
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 17px;
    }
    .redes{
        display: flex;
        align-items: center;
    }

    .redes i{
        font-size: 2rem;
    }

    .preFooterContenido ul{
        display: flex;
        flex-direction: column;
    }

    .footerContenido{
        width: 100%;
    }

    .footerContenido ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}