
.jumbotron{
    background-image:  linear-gradient(rgba(255, 255, 255, 0.655), rgba(255, 255, 255, 0.655)),url(../imagenes/camaraFondo3.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron h1{
    font-weight: 900; 
}

.jumbotron p{
    font-size: 22px;
}

h2{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0;
}

/*-------------*/

.card{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 6px;
}

.btn:hover{
    background-color: gray;
    color: black;
}