
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Rubik";
    src: url(./fonts/Rubik/static/Rubik-Light.ttf);
}
html{
    scroll-behavior: smooth;
}

/*body{
    display: flex;
    flex-direction: column;
}*/

#grilla{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "preFooter preFooter preFooter"
    "footer footer footer";

    grid-template-columns: 100%;
    grid-template-rows: 80px min-content min-content min-content;
    gap: 0;
}

header{
    grid-area: header;
    background-color: rgb(0, 0, 0);
    align-items: baseline;
    height: 80px;
    width: 100%;
    padding: 8px;
    font-family: "Rubik";
}

.logo{
    float: left;
    color: white;
    font-weight: 900;
    font-size: 37px;
}

.logo a{
    color: white;
}

.barra{
    float: right;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
}

ul li{
    list-style: none;
    display: inline-block;
}

.barra a{
    transition: color 0.5s ease;
}

.barra a:hover{
    color: grey;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    color: gray;
}

.call{
    background-color: red;
    background-image: linear-gradient(rgba(255, 255, 255, 0.655), rgba(255, 255, 255, 0.655)),url(./imagenes/camaraFondo3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: "Rubik";
}

.call h1{
    color: black;
    font-family: "Rubik";
    font-weight:900;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px black;
    padding: 15px 0 40px 0;
}

.call p{

    font-size: 23px;
}

a{
    text-decoration: none;
    color: white;
}


h2{
    font-family: "Rubik";
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.cardContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    height: 500px;
    width: 100%;
}
.card{
    width: 25%;
    height: 300px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    font-family: "Rubik";
    text-align: center;
}

.card-img{
    height: 150px;
    width: 100%;
    background-image: url(./imagenes/Service.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.card h3{
    color: black;
    font-size: 19px;
    padding-top: 5px;
}

.card p{
    color: black;
    font-size: 17px;
    text-align: justify;
    padding: 10px;
}

.card a{
    background-color: black;
    color: white;
    padding: 5px 19px 5px 19px;
    border-radius: 6px;
}

#contacto{
    background-color: grey;
    background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)),url(./imagenes/camaraFondo.jpg);
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
}


#contacto h1{
    color: black;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    padding-bottom: 20px;
}

form{
    width: 100%;
    padding: 45px 250px 45px 250px;
    font-family: "Rubik";
    overflow: hidden;
}

form label{
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

form input{
    width: 100%;
    font-size: 19px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

form input::placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Rubik";
}

form textarea{
    width: 100%;
    height: 150px;
    resize: horizontal;
    font-size: 22px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}

form textarea::placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Rubik";
}

form #enviar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px;
}

#enviar:hover{
    color: white;
    background-color: black;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease-in-out;   
    transform: scale(1.05);
}

.fijo{
    width: 110px;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 10px;
    right: 5px;
    text-align: center;
    line-height: 57px;
}
#asistente{
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 85%;
}

#asistente:hover{
    color: gray;
    transition: color 0.5s ease, transform 0.3s ease;
    transform: scale(1.1);
}

#arriba{
    width: 50px;
    border-radius: 85%;
    background-color: black;
    color: white;
    font-size: 40px;
}

#arriba:hover{
    color: gray;
    transition: color 0.5s ease, transform 0.3s ease;
    transform: scale(1.1);
}

.preFooter{
    grid-area: preFooter;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Rubik";
    font-size: 20px;
    text-align: center;
}

.redes{
    margin-top: 15px;
    font-size: 25px;
    color: white;
}

.redes i{
    letter-spacing: 20px;
}

.redes i:hover{
    color: grey;
    transition: color, 0.5s ease;
}

hr{
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Rubik";
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.footerContenido{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

footer ul{
    display: flex;
    padding: 0;
    margin: 0;
}

footer ul li{
    padding-right: 10px;
}

.footerContenido a:hover{
    color: grey;
    transition: color, 0.5s ease;
}

.logoFooter{
    display: flex;
    align-items: center;
    gap: 5px;
}
