
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Rubik";
    src: url(./fonts/Rubik/static/Rubik-Light.ttf);
}
html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
}

section{
    width: 100%;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    background-color: red;
    font-family: "Rubik";
}

section h1{
    background-color: greenyellow;
    text-transform: uppercase;
}

ul{
    background-color: pink;
    list-style-type: none;
    text-align: center;
}

li{
    display: inline;
}

h2{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
}

#inicioFondo{
    background-color: blueviolet;
    background-image: url(./imagenes/camarasFondo.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    height: 50%
}

.centrar{
    text-align: center;
}

form{
    width: 100%;
    height: 100vh;
    background-color: grey;
    background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)),url(./imageneS/camarasFondo.jpg);
    background-size: cover;
    background-position:  bottom 25px top 10px;
    background-repeat: no-repeat;
    padding: 45px 150px 45px 150px;
    font-family: "Rubik";
    overflow: hidden;
}

form label{
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

form input{
    width: 100%;
    font-size: 19px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

form input::placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Rubik";
}

form textarea{
    width: 100%;
    height: 150px;
    resize: horizontal;
    font-size: 22px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}

form textarea::placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Rubik";
}

form #enviar{
    width: 100%;
    background-color: rgb(63, 63, 60);
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px;
}

.fijo{
    width: 110px;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 10px;
    right: 5px;
    text-align: center;
    line-height: 57px;
}
#asistente{
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 85%;
}

#arriba{
    width: 50px;
    border-radius: 85%;
    background-color: black;
    color: white;
    font-size: 40px;
}

footer{
    background-color: rgb(191, 187, 187);
}
